
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule" >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/Plugins/angular-1.7.6/angular.js"></script>
    <script src="~/Scripts/Spa/app.js"></script>
    <script src="~/Scripts/Plugins/angular-1.7.6/angular.min.js"></script>
</head>
<body  >
    <div ng-controller="schoolController"> 
        <input type="number" ng-model="num" />       
    {{message}}
        <button ng-click="checkNumber()">Check</button>
    </div>
    
</body>
</html>


@*<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="~/Scripts/Spa/app.js"></script>
<body>
    <div ng-app="myModule" ng-controller="schoolController">

        <p>The hexadecimal value of 255 is:</p>

        <h1>{{input}}</h1>

    </div>

    <p>A custom service with a method that converts a given number into a hexadecimal number.</p>

   

</body>
</html> *@

